body {
  font-family: Helvetica, sans-serif;
}

header {
  border: solid 1px #000;
  overflow: auto;
  padding: 0 10px;
}

h1 {
  float: left;
}

.messages {
  float: right;
  padding-top: 30px;
}

#chat-view input {
  border: solid 1px #000;
  font-size: 1.2em;
  margin: 20px 0;
  padding: 5px;
}

#chat-view ul {
  padding: 0;
}

#chat-view li {
  background-color: #EEE;
  border: solid 1px #DDD;
  list-style-type: none;
  margin: 10px 0;
  padding: 5px;
}
